<footer class="text-center bg-body-tertiary">
  
    <div class="container pt-4">
      
      <section class="mb-4">
       
  
       
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="#!"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        
  
        
        <a
          data-mdb-ripple-init
          target="_blank"
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.linkedin.com/in/leon-benic-a71a5929a/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
       
        <a
          data-mdb-ripple-init
          target="_blank"
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://github.com/Leeonbenaa"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      
    </div>

  
   
    <div class="text-center p-3" >
      Capstone Udemy project
     
    </div>
    
  </footer>